#chatbox-container {
  max-width:1024px;
  border-style: outset;
}

.chat-container {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
  overflow-y: scroll;
}

.chat-container .chat-message-left {
  position: relative;
  display: block;
  max-width: 75%;
  word-wrap: break-word;
  color: black;
  font-family: 'Helvetica Nueue', Helvetica, sans-serif;
  border-radius: 25px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 1.3vh;
  background:#E1F6FF;
  white-space: pre-line;
  
  
}

.chat-container .chat-message-right {
  position: relative;
  display: block;
  width:75%;
  max-width: 75%;
  word-wrap: break-word;
  color: black;
  font-family: 'Helvetica Nueue', Helvetica, sans-serif;
  border-radius: 25px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 1.3vh;
  background:#E1F6FF;
  background:#B9EBFF;
  white-space: pre-line;
}

.chat-container .chat-message-left .username {
  font-weight:bolder;
}

.chat-container .chat-message-right {
  margin-left: auto;
  margin-right: 0;
}

.chat-container  .datetime {
  font-weight:lighter;
  font-size:smaller;
  text-align:right;
}

.container-fluid {  max-width: 1024px; padding:25px; margin-left: auto; margin-right: auto; }
